{% extends "base.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'User'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ '%entity% edit'|trans({'%entity%': 'User'}, 'admin') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p>
            <button id="edit_button" class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}</button>
        </p>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('admin_user') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>

            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
  var $collectionHolder;

  $(function() {

     $('select').select2();

      $('label.label-collection').after('<span class="after-me" style="padding-left:20px"><a class="addForm" href="#"><i class="fa fa-plus" title="add"></i><a></span>');

      $('.accessprofile').each(function() {
        $(this).parent().after('<span style="padding-left:20px"><a class="removeForm" href="#"><i class="fa fa-times" title="remove"></i><a></span>');
      });

      // Get the ul that holds the collection of tags
      $collectionHolder = $('div.collection');

      // count the current form inputs we have (e.g. 2), use that as the new
      // index when inserting a new item (e.g. 2)
      $collectionHolder.data('index', $collectionHolder.find($('[id^="user_userEquipment_"][id$="_equipment"]')).length);

      $('.addForm').on('click', function(e) {
          // prevent the link from creating a "#" on the URL
          e.preventDefault();

          // add a new tag form (see next code block)
          addNewForm($collectionHolder);
      });

      $('.removeForm').on('click', function(e) {
          // prevent the link from creating a "#" on the URL
          e.preventDefault();

          // add a new tag form (see next code block)
          var el = $(this).parent().parent().parent();
          if (el.hasClass('remove'))
              el.removeClass('remove');
          else
              el.addClass('remove');

      });

        $('form[name="user"]').on('submit', function(e){
          $('.remove').each(function() {
            $(this).remove();
          });
        });
  });

  function addNewForm($collectionHolder) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    $('.after-me').after(newForm);

    $('input[id="user_userEquipment_' + index + '_user"]').val({{ user.id }});
}

  </script>
{% endblock %}